In [2]:
# Efficient numerical arrays.
import numpy as np
# Data frames.
import pandas as pd
# Alternative statistics package.
import statsmodels.stats.weightstats as stat
# Mains statistics package.
import scipy.stats as ss
# Plotting.
import matplotlib.pyplot as plt
# Fancier plotting.
import seaborn as sns

# Better sized plots.
plt.rcParams['figure.figsize'] = (12, 8)

# Nicer colours and styles for plots.
plt.style.use("fivethirtyeight")

In [15]:
ezedf = pd.read_csv("task2.csv")
ezedf

                A    B    C    D  total
White collar   90   60  104   95    349
Blue collar    30   50   51   20    151
No collar      30   40   45   35    150
Total         150  150  200  150    650

In [ ]:
To test if two categorical variables have an association or significance dependency on one another. 
If the significance of the test is below 0.05, the variables have a significant dependency.

In [16]:
ezedf

                A    B    C    D  total
White collar   90   60  104   95    349
Blue collar    30   50   51   20    151
No collar      30   40   45   35    150
Total         150  150  200  150    650

In [17]:
myField1 = ezedf['A']
myField2 = ezedf['B']
myField3 = ezedf['C']
myField4 = ezedf['D']

In [18]:
from scipy.stats import chi2_contingency

In [19]:
chiVal, pVal, df, exp = chi2_contingency(ezedf)

In [20]:
chiVal, pVal, df, exp

(24.571202858582602,
 0.016990737760739776,
 12,
 array([[ 80.53846154,  80.53846154, 107.38461538,  80.53846154,
         349.        ],
        [ 34.84615385,  34.84615385,  46.46153846,  34.84615385,
         151.        ],
        [ 34.61538462,  34.61538462,  46.15384615,  34.61538462,
         150.        ],
        [150.        , 150.        , 200.        , 150.        ,
         650.        ]]))

In [23]:
print("The chi-square value is", chiVal)
print("P value is", pVal)
print("Degree of freedom is value is", df)
print("Expected values:", exp)

Chi value is 24.571202858582602
P value is 0.016990737760739776
Degree of freedom is value is 12
Expected values: [[ 80.53846154  80.53846154 107.38461538  80.53846154 349.        ]
 [ 34.84615385  34.84615385  46.46153846  34.84615385 151.        ]
 [ 34.61538462  34.61538462  46.15384615  34.61538462 150.        ]
 [150.         150.         200.         150.         650.        ]]

In [ ]:
Above resulted in chi-square value of 24.571202858582602. The chance of such a value or higher than that
in the sample, if there is no association in the population is 0.016990737760739776 which is the p-value or
siginificance level. 
It is considered 'significant'usually if this value is below 0.05 which in this it is. This indicates that
there is an association between the two variables (one has an impact on the other).