<p align="center">
    <h1 align="center">Machine Learning and Statistics Tasks 2020</h1>
    <h1 align="center"> Task 4: Iris data set K-means clustering</h1>
    <h2 align="center"> Author: Ezekiel Onaloye</h2>
    <h2 align="center"> Created: December 2020 </h2> 
</p>

### Introduction

Iris flower data set was introduced by the British statistician and biologist Ronald Fisher in 1936 as an example of linear discriminant analysis. Iris data set file contain a multivariate dataset that consist of 50 samples from each of three species of Iris flowers (Iris Setosa, Iris Virginica and Irish Versicolor). Each sample has 4 features, the length and the width of Sepal and Petal in centimeters. Dataset is stored in CSV format (Comma separated values) format. The dataset has 5 columns, the first 4 columns contains the values of the features while the last column represents the class of the samples.

In [10]:
# For plotting pairplot
import seaborn as sns
import pandas

In [13]:
dataset = pandas.read_csv('iris.csv')

In [14]:
print('3 SPECIES IN IRIS DATASET')
species_list = list(dataset["species"].unique())#variable declared for 3 species[See ReadMe]
print("Types of species: %s\n" % species_list)

print('LENGTH OF DATASET')
print("Dataset length: %i\n" % len(dataset))

print('FIRST TEN ROWS IN IRIS.CSV')
first10 = dataset.head(10) #assigned first10 as variable to store first 10 rows of the data set
print(first10)
print("")
print("")

print('LAST TEN ROWS IN IRIS.CSV')
last10 = dataset.tail(10) #assigned last10 as variable to store last 10 row of the data set
print(last10)
print("")
print("")

print('IRIS.CSV STATISTICAL SUMMARY  BY COLUMN')
irissummary = dataset.describe() #irissummary to give a statistical summary of dataset
print(irissummary)
print("")
print("")

print('PICK 5 RANDOM ROWS')
irispop = dataset.sample(5) #pops up 5 random rows from iris.csv
print(irispop)

3 SPECIES IN IRIS DATASET
Types of species: ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

LENGTH OF DATASET
Dataset length: 150

FIRST TEN ROWS IN IRIS.CSV
   sepal-length  sepal-width  petal-length  petal-width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa


LAST TEN ROWS IN IRIS.CSV
     sepal-length  sepal-width  petal-length  petal-width         species
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica


IRIS.CSV STATISTICAL SUMMARY  BY COLUMN
       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000


PICK 5 RANDOM ROWS
     sepal-length  sepal-width  petal-length  petal-width          species
123           6.3          2.7           4.9          1.8   Iris-virginica
37            4.9          3.1           1.5          0.1      Iris-setosa
76            6.8          2.8           4.8          1.4  Iris-versicolor
69            5.6          2.5           3.9          1.1  Iris-versicolor
13            4.3          3.0           1.1          0.1      Iris-setosa

In [15]:
dataset.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
dataset.groupby('species').size()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [20]:
dataset.head(10)

   sepal-length  sepal-width  petal-length  petal-width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [21]:
dataset.tail(10)

     sepal-length  sepal-width  petal-length  petal-width         species
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica